body {
	margin-left: 0;
	margin-top: 0;
}

#canvas {
	position: absolute;

	top: 50%;
	left: 50%;
	
	margin: -250px 0 0 -250px;
	padding: 5px;

	border-width: 1px;
	border-style: dashed;
	border-radius: 10px;

	cursor: default;
}

#menu {
	width: 100%;
	padding: 0 3px 4px 3px;

	border-radius: 0 0 15px 15px;
	border-width: 1px;
	border-style: dotted;
}